[Desktop Entry]
Type=Application
Name=QBangla Dictionary
Comment=QBangla Dictionary (কিউ বাংলা ডিকশনারী) is a cross-platform bangle dictionary that built on top of Qt
Exec=QBangla
Icon=logo

