[Desktop Entry]
Type=Application
Name=BijoyEkush Bangla Dictionary
Comment=BijoyEkush Dictionary (বিজয় একুশ ডিকশনারী) is a cross-platform bangle dictionary that provides many features
Exec=BijoyEkush
Icon=logo

